<h1>Student Details</h1>
<br>
<h4>  <%= @student.name %></h4>
<% @student.addresses.each do |address| %>
<br>  <%= address.description %>
<br>  <%= address.street %>
<br>  <%= address.city %>
<br>  <%= address.state %>
<br>  <%= address.zipcode %>
<br>
<% end %>
<br>
<%= link_to "Edit", edit_student_path(@student) %>
<br>
<%= link_to "Create New Address", new_student_address_path(@student)  %>
<br>
<%= link_to "Back to Student Index", students_path %>
